.banner {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(assets/banner/banner_back.png);
  background-color: #3d3d3f;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}

.banner a {
  color: #fff;
}

.banner a p {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.banner a p span {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .banner {
    height: 60px;
    top: 54px;
  }
  .banner a p {
    font-size: 18px;
    text-align: center;;
  }
  .banner a p span {
    font-size: 14px;
    margin-left: 0;
  }
}
