@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* @import './~normalize.css'; */
@import './fonts.css';

:root {
  --font-family-title: 'BebasNeueBold';
  --font-family-regular-bold: 'Gilroy';
  --font-family-regular-medium: 'Gilroy-Medium';
  --font-family-regular-light: 'Gilroy-Light';

  --accent-color: #f53743;
  --white-color: #fff;
  --black-color: #0e1213;
  --dark-grey-color: #5c646e;
  --grey-color: #55606c;
  --light-grey-color: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.3s;
}

html {
  font-size: 10px;
  font-family: var(--font-family-regular-medium);
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  scroll-behavior: smooth;
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

::selection {
  color: var(--white-color);
  background: #373af5;
}

b, strong, h1, h2 {
  font-weight: bold;
}

a {
  color: #f53743;
  text-decoration: none;
}

.title-font {
  font-family: 'CoreSans', sans-serif;
}

/***** Common styles *****/
@import './common.css';
@import './content.css';

/***** Components *****/
@import './buttons.css';
@import './footer.css';
@import './sidebar.css';
@import './nav-sidebar.css';

/***** Platform *****/

@import './platform.css';
