

@font-face {
  font-family: 'CoreSans';
  font-weight: bold;
  src: url('./assets/fonts/CoreSansD57CnBold.otf');
}


@font-face {
  font-family: 'CoreSans55';
  font-weight: bold;
  src: url('./assets/fonts/CoreSansD55Bold.otf');
}

