.post-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 8rem;
  width: calc(100vw - 10rem);
  padding: 3.2rem 6.4rem;
  box-shadow: inset 0 -0.1rem 0 0 var(--light-grey-color);
  font-size: 1.4rem;
  background-color: var(--white-color);
}

.post-nav a {
  display: flex;
  align-items: center;
  color: var(--dark-grey-color);
  line-height: 1;
}

.post-nav a:hover {
  color: var(--accent-color);
}

.post-nav a:hover svg {
  fill: var(--accent-color);
}

.post-nav a svg {
  margin-right: 1rem;
  transform: rotate(180deg);
  fill: var(--dark-grey-color);
}

section#posts.posts .post-preview:not(:target){
  display: none;
}

section#posts.posts.filter-is-inactive .post-preview {
  display: flex;
}

section#posts.posts:target .post-preview {
  display: flex;
}

section.post {
  margin-top: 12.5%;
}

section.post .post-meta {
  margin-bottom: 3.2rem;
}

section.post .post-meta h1 {
  font-size: 4.8rem;
  margin-bottom: 5rem;
}

section.post .post-meta > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.2rem;
  font-size: 1.8rem;
  color: var(--dark-grey-color);
  border-bottom: 1px dotted #ededed;
}

section.post .post-meta > div > div span {
  color: #000;
}

section.post .post-image {
  width: 100%;
  padding-bottom: 8rem;
}

section.post .post-image img {
  width: 100%;
  height: auto;
}

section.post .post-content {
  padding-bottom: 5rem;
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--dark-grey-color);
  border-bottom: 1px dotted #bbbfc4;
}

section.post .post-content p:not(:last-of-type) {
  margin-bottom: 5rem;
}

section.post .post-content ul {
  margin: 6rem 0;
}

section.post .post-content ul li {
  margin-bottom: 3.2rem;
}

section.post .post-content a {
  font-family: var(--font-family-regular-medium);
  text-decoration: underline;
  color: var(--dark-grey-color);
}

section.post .post-content a:hover {
  color: var(--accent-color);
}

section.post .post-content {
  margin-bottom: 4rem;
}

section.post .post-footer {
  display: flex;
  justify-content: space-between;
}

section.post .post-tags.rectangular-tags {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

section.post .post-tags.rectangular-tags li:not(:last-of-type) {
  margin-right: 0.6rem;
}

section.post .post-tags.rectangular-tags li {
  padding: 6px 12px;
  font-family: var(--font-family-regular-medium);
  font-size: 1.8rem;
  color: var(--white-color);
  background-color: #bbbfc4;
  border-radius: 0.5rem;
}

section.post .post-footer .social {
  display: flex;
}

section.post .post-footer .social a {
  --size: 3.2rem;
  height: var(--size);
  width: var(--size);
  border: 2px solid #E4E8ED;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}

section.post .post-footer .social a svg {
  fill: #E4E8ED;
}

section.post .post-footer .social a:hover {
  border-color: var(--accent-color);
}

section.post .post-footer .social a:hover svg {
  fill: var(--accent-color);
}

section.post .post-footer .social a:not(:last-of-type){
  margin-right: 0.6rem;
}

section.post .post-footer .social a svg {
  width: 1.8rem;
}

@media (max-width: 700px) {

  .wrapper.post-page {
    padding-top: 4rem;
  }

  .post-page section.post {
    margin-top: 0;
  }

  .post-page section.post .post-meta h1 {
    font-size: 3rem;
    letter-spacing: 0.025rem;
    margin-bottom: 2.5rem;
  }

  .post-page section.post .post-meta > div {
    padding-bottom: 0;
    font-size: 1.4rem;
    border-bottom: none;
  }

  .post-nav {
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 3rem;
    margin-top: 5.3rem;
    height: 6rem;
    box-shadow: none;
  }

  .post-page section.post .post-meta h1 {
    font-size: 3.6rem;
  }

  .post-page section.post .post-content {
    font-size: 1.8rem;
  }

  .post-page section.post .post-image {
    padding-bottom: 3rem;
  }

  section.post .post-content p {
    line-height: 1.75;
  }

  section.post .post-content p:not(:last-of-type) {
    margin-bottom: 4rem;
  }

  section.post .post-content ul {
    padding-left: 2rem;
    margin: 4rem 0;
  }

  section.post .post-content a {
    word-break: break-word;
  }

  section.posts .posts-tags.rectangular-tags ul li a {
    background-color: #bbbfc4;
  }

}
